# Algorithms and Programming --  Assignment 4: <font color="red">PRE-EXAM Assignment </font>

## Important: save this file in a specific sub-folder under your AlgoPro folder. For example, name that folder "jupy_code"  

### First, change your NIM in the name of the file. Click <font color="red">File -> Save as ... </font>

Then fill the information below. To edit this cell, double click here.

### Name: NURSAID FADILAH ROHMAN
### NIM: L200234047
### GitHub address: https://github.com/Nursaidfadilah/Jupyt_Code_Algopro.git

#### Complete the code below and run it. Press `Shift` + `Enter`

In [2]:
from time import ctime
from os import getcwd, popen
import sys
nama = "NURSAID FADILAH ROHMAN"     ## Replace with your name.
NIM = "L200234047"     ## Replace with your NIM.
kota = "KARANGANYAR"     ## Replace with your original city of residence.
print("NAMA:", nama)
print("NIM :", NIM)
print("Kota:", kota)
print(ctime())
print("")
print(getcwd())
print(sys.executable)
print(sys.version)
print(popen("vol").read())

# RUN THE CODE ABOVE BY PRESSING SHIFT + ENTER while this cell is active.

NAMA: NURSAID FADILAH ROHMAN
NIM : L200234047
Kota: KARANGANYAR
Tue Oct 31 09:28:17 2023

D:\Algortithm
C:\Users\lenovo\AppData\Local\Programs\Python\Python311\python.exe
3.11.5 (tags/v3.11.5:cce6ba9, Aug 24 2023, 14:38:34) [MSC v.1936 64 bit (AMD64)]
 Volume in drive D is New Volume
 Volume Serial Number is 862E-7C5F

# 1
#### Write a Python function that receives a positive integer and produces the length of the digit.
#### Name that function ```digilen()```
#### Example execution in a Python shell in Thonny:

```
>>> digilen(12)
2
>>> digilen(2500)
4
>>> digilen(12500)
5
>>> digilen(312500)
6
```

#### You can (and may) do it in one line.

In [3]:
## 1
## 
def digilen(n):
    # continue your function below
    # ...
    return len(str(n))

In [4]:
## THIS IS A CODE-TESTING SCRIPT. Aim for "True" for all the equality tests.
## 
## Do NOT edit this cell
## JUST RUN IT BY PRESSING SHIFT + ENTER
print( digilen(4) == 1 )
print( digilen(12) == 2 )
print( digilen(500) == 3 )
print( digilen(1500) == 4 )
print( digilen(10500) == 5 )
print( digilen(300500) == 6 )
print( digilen(7300500) == 7 )

True
True
True
True
True
True
True

# 2
#### Write a function called ```tria_repeat()``` that will print a left-justified triangle following the example below.
#### Your function will have one parameter: the height of the triangle.

#### Example:
```
tria_repeat(5) # will print:
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
```

In [5]:
## 3
def countOdds(num):
    # continue your function below
    # ...
    a = 0
    for i in num:
        if i % 2 ==1:
            a += 1
    return a

In [6]:
## THIS IS A CODE-TESTING SCRIPT. Aim for "True" for all the equality tests.
## 
## Do NOT edit this cell
## JUST RUN IT BY PRESSING SHIFT + ENTER

print( countOdds( [] )  == 0 )
print( countOdds( [1] )  == 1 )
print( countOdds( [1,2,3,4,5] ) == 3 )
print( countOdds( list(range(100)) ) == 50 )

True
True
True
True

In [7]:
## 2
## 
def tria_repeat(num):
    # continue your function below
    # ...
    for i in range(1, num+1):
        for j in range(1, i+1):
            print(i, end=" ")
        print()

In [8]:
# Run this. Do not modify.
tria_repeat(9)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

# 2
#### Write a function called ```tria_number()``` that will print a left-justified triangle following the example below.
#### Your function will have one parameter: the height of the triangle.

#### Example:
```
tria_number(5) # will print:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
```

In [9]:
## 3
## 
def tria_number(num):
    # continue your function below
    # ...
    for i in range(1, num+1):
        for j in range (1, i+1):
            print(j, end=" ")
        print()

In [10]:
# Run this. Do not modify.
tria_number(9)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

# 3 
#### Write a Python function that receives a single digit _n_ and returns nnnn + nnn + nn + n . Name it `the_4ns()`
#### So, `the_4ns(5)` will return 6170. That is, 5555 + 555 + 55 + 5 = 6170

Hint: you can do it in one line.

In [11]:
## 4
## 
def the_4ns(num):
    # continue your function below
    # ...
    num = int(str(num) + str(num) + str(num) + str(num))
    total = 0
    for i in range(0,4):
        total +=int(num/10**i)
    return total

In [12]:
## THIS IS A CODE-TESTING SCRIPT. Aim for "True" for all the equality tests.
## 
## Do NOT edit this cell
## JUST RUN IT BY PRESSING SHIFT + ENTER
print( the_4ns(1) == 1234 )
print( the_4ns(2) == 2468 )
print( the_4ns(3) == 3702 )
print( the_4ns(4) == 4936 )
print( the_4ns(5) == 6170 )
print( the_4ns(9) == 11106 )

True
True
True
True
True
True

# 4
#### Write a function to print multiplication table of a given number. Call it `multable()`.
#### For example, `multable(2)` will print
```
2
4
6
8
10
12
14
16
18
20
```


#### And `multable(3)` will print
```
3
6
9
12
15
18
21
24
27
30
```

In [13]:
## 4
## 
def multable(d):
     # continue your function below
    # ...
    for i in range(1, 11):
        print(d * i)

In [14]:
# Run this. Do not modify.
multable(6)

6
12
18
24
30
36
42
48
54
60

In [15]:
# Run this. Do not modify.
multable(7)

7
14
21
28
35
42
49
56
63
70

# 5
#### Write a function that receives an integer and reverse the digit. Given 12 (twelve), it should return 21 (twenty one). 
#### Call it `digit_reverse()`.

In [16]:
## 5
## 
def digit_reverse(num):
     # continue your function below
    # ...
    num_str=str(num)
    return int(num_str[::-1])

In [17]:
## THIS IS A CODE-TESTING SCRIPT. Aim for "True" for all the equality tests.
## 
## Do NOT edit this cell
## JUST RUN IT BY PRESSING SHIFT + ENTER
print( digit_reverse(1234) == 4321 )
print( digit_reverse(123456789) == 987654321 )
print( digit_reverse(2500) == 52 )

True
True
True

# 6
#### Write a function called `first_and_last()` that receives a string and returns the first and last character of that string, as a string.
#### For example, `first_and_last("Yogyakarta")` will return `'Ya'`. 
#### `first_and_last("Klaten")` will return `'Kn'`. 
#### If the given string has only one character, it will return that same character.
#### If the given string is an empty string, it will return an empty string.

This is a very simple program. You should be able to do the same thing for other iterables.

In [18]:
## 6
## 
def first_and_last(x):
     # continue your function below
    # ...
     if len(x) == 0:
          return ''
     elif len(x) == 1:
          return x[0]
     else:
          return x[0] + x[-1]

In [19]:
## THIS IS A CODE-TESTING SCRIPT. Aim for "True" for all the equality tests.
## 
## Do NOT edit this cell
## JUST RUN IT BY PRESSING SHIFT + ENTER
print( first_and_last("Yogyakarta") == "Ya" )
print( first_and_last("Surakarta") == "Sa" )
print( first_and_last("Klaten") == "Kn" )
print( first_and_last("S") == "S" )
print( first_and_last("") == "" )

True
True
True
True
True

# 7
#### Write a function that takes two list of integers of the same size, and returns another list (of the same size) that contains the smaller of the two for each element. So if the input is [3,2,6,5,4] and [1,8,7,2,9] it will return [1,2,6,2,4]. Name the function `chooseSmaller()`.

In [20]:
## 7
## 
def chooseSmaller( A, B ):
    # continue your function below
    # ...
    return [min(x, y) for x, y in zip(A, B)]

In [21]:
## THIS IS A CODE-TESTING SCRIPT. Aim for "True" for all the equality tests.
## 
## Do NOT edit this cell
## JUST RUN IT BY PRESSING SHIFT + ENTER
A = [3,2,6,5,4] ; B = [1,8,7,2,9];print( chooseSmaller( A, B ) == [1, 2, 6, 2, 4] );
A = [8, 4, 5, 15, 14]; B = [19, 8, 14, 4, 13]; print( chooseSmaller( A, B ) == [8, 4, 5, 4, 13] );
A = [4, 3, 1, 0, 5]; B = [4, 1, 0, 5, 2] ; print( chooseSmaller( A, B ) == [4, 1, 0, 0, 2] );
A = [2, -9, 6, -4, 1, -5, 5, 0]; B = [-8, -4, -5, 1, -2, 4, -7, -10]; print( chooseSmaller( A, B ) == [-8, -9, -5, -4, -2, -5, -7, -10] );

True
True
True
True

# 8

#### Write a function that receives an integer and print a text depending on the integer:
- if the integer is negative, it will print "That is a negative number." 
- if the integer is positive and less than five, it will print "That is baby and kids age."
- if the integer is 5 or bigger, it will print "You can go to school."
  - additionally, if the integer is greater than 20, it will print also "But, are you sure?"
 
Name the function `school_age()`.

#### Example of execution:
```
>>> school_age(-9)
That is a negative number.
>>> school_age(4)
That is baby and kids age.
>>> school_age(15)
You can go to school.
>>> school_age(25)
You can go to school.
But, are you sure?
>>>
```

In [22]:
## 8
## 
def school_age(age):
    # continue your function below
    # ...
    if age < 0:
        print("That is a negative number.")
    elif age < 5:
        print("That is baby and kids age.")
    else:
        print("You can go to school.")
        if age > 20:
            print("But, are you sure?")

In [23]:
# Run this. Do not modify.
school_age(-19)

That is a negative number.

In [24]:
# Run this. Do not modify.
school_age(4)

That is baby and kids age.

In [25]:
# Run this. Do not modify.
school_age(4)

That is baby and kids age.

In [26]:
# Run this. Do not modify.
school_age(16)

You can go to school.

In [27]:
# Run this. Do not modify.
school_age(30)

You can go to school.
But, are you sure?

# 9
#### Make a Python function that receives a list of integers modify *the same list* so that it is now containing only the positive elements.
#### The function does NOT return anything, and does NOT print anything. It only modify the same list.
### Recall that a list is mutable.

#### Name that function `only_positives()`. 
#### You need the `pop` method from the list data type.

In [28]:
## 8
## 
def only_positives( L ):
    # continue your function below
    # ...
    for i in range(len(L)):
        if L[0] <= 0:
            L.pop(0)
        else:
            L.append(L[0])
            L.pop(0)

In [29]:
## THIS IS A CODE-TESTING SCRIPT. Aim for "True" for all the equality tests.
## 
## Do NOT edit this cell
## JUST RUN IT BY PRESSING SHIFT + ENTER
A = [2, -9, 6, -4, 1, -5, 5, 0] ; only_positives( A ); print( A == [2, 6, 1, 5] )
B = [0, -1, -2] ; only_positives( B ); print( B == [] )
C = [2, 3, 4] ; only_positives( C ); print( C == [2, 3, 4] )

True
True
True

# _End of assignment._
## RE-RUN all cells. In the menu above, click "Run" then "Run All Cells"
## Save the file, then
## PUSH your code to GitHub,
## and check your GitHub page. Ensure that your work is displayed properly.